.leftMenu ul li:hover {
    background: rgb(144, 246, 250);
}
H1{
    text-align: center;
}
H4{
    margin-left: 13%;

}
body{
   color: black;
   background-color: rgb(178, 247, 224);
}
.day{
    margin-left:5%;
}
.H5{
    margin-left: 50px;
}
.lop{
    text-align: center;
    font-weight: bold;
    font: size 60px;
}
table{
    width: 100%;
    text-align: center;
}
.table{
    width: 100%;
    text-align: center;
}
p{
    font-style: italic;
}
.title{
    text-align: center;
}
H3{
    text-align: center;
}
.sign{
    font-style: italic;
    margin-left: 6%;
}
.signb{
    font-style: italic;
    margin-left: 2%;
}
.a{
    text-align: center;
}
.b{
    margin-left: 0%;
}
.c{
    margin-left: 5%;
}
