table,tr{
    width: 100%;
    text-align: center;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     
    /* border-collapse: collapse; */

}
.title_f{
    
    width: 100%;
    text-align: center;
    margin-top: 0%;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
H1{
    text-align: center;
}
H4{
    text-align: center ;
}

.title_table{
   font-weight: bold;
   size: 28px;
   border: 1px solid black; 
   
}
.b{
    width: 2%;
    text-align: center;
}
.a{
    width: 5%;
    text-align: center;
}
.g{
    width: 5%;
    text-align: center;
}
.d,.i{
    width: 6%;
    text-align: left;
}
.c,.f, .h,.j{
    width: 17%;
    text-align: center;
}

.c1,.f1, .h1, .j1{
    width: 15%;
    text-align: left;
    margin-left: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.e{
    width: 10%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.e1{
    width: 10%;
    text-align: right;
    margin-right: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    background-color: rgb(89, 248, 240);
    font-weight: bold;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.leftMenu ul li:hover {
    background: rgb(144, 246, 250);
}

   






