table,tr{
    width: 100%;
    text-align: center;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     
    /* border-collapse: collapse; */

}
.title_f{
    
    width: 100%;
    text-align: center;
    margin-top: 0%;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
H1{
    text-align: center;
}
H4{
    text-align: center ;
}

.title_table{
   font-weight: bold;
   size: 28px;
   border: 1px solid black; 
   
}
.b{
    width: 4%;
    text-align: center;
}
.a{
    width: 2.5%;
    text-align: left;
}
.a1{
    width: 2.5%;
    text-align: center;
}
.g{
    width: 3%;
    text-align: left;
}
.d{
    width: 6%;
    text-align: center;
}

.d1{
    width: 7%;
    text-align: left;
}
.i{
    width: 9%;
    text-align: center;
}
.i1{
    width: 9%;
    text-align: left;
}
/* .j{
    width: 10%;
    text-align: center;
} */
.j1{
   
    text-align: left;
}

.h{
    width: 22%; 
    text-align: center;
    
}
.h1{
    width: 22%; 
    text-align: left;
    
}
.f{
    width: 10%;
    text-align: center;
}
.f1{
    width: 10%;
    text-align: left;
}

.c1{
    width: 17%; 
    text-align: left;
    
}
.c{
    width: 17%; 
    text-align: center;
    
}

.e{
    width: 8%;
    text-align: left;
}

button{
    background-color: rgb(89, 248, 240);
    font-weight: bold;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.leftMenu ul li:hover {
    background: rgb(144, 246, 250);
}

   






